.textInputStyle {
  width: 100%;
  padding-left: 1rem;
  padding-right: 5px;
  border-radius: 10px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 5px;
  border-color: white;
  border-width: 1px;
  border:none
}

input:focus {
  box-shadow: 0 0 20px rgb(43, 126, 94);
}
textarea:focus {
  box-shadow: 0 0 20px rgb(43, 126, 94);
}

.dropDownStyle {
  width: 100%;
  /* height: 100%; */
  padding-left: 1rem;
  padding-right: 5px;
  border-radius: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 5px;
  border-color: white;
  border-width: 20px;
  background-color: white;
}
