input:focus,
button:focus {
  outline: none;
  box-shadow: none;
}
.InputForMessage {
  padding-left: 13px;
}
.emojiStyle {
  z-index: 3;
  overflow: 'auto';
  position: absolute;
  margin-left: 63%;
  margin-top: -32%;
}
.camera-style {
  display: none;
}
.time-style {
  margin-left: 860px;
}
@media screen and (max-width: 768px) {
  .emojiStyle {
    z-index: 3;
    overflow: 'auto';
    position: absolute;
    margin-left: 37%;
    margin-top: -57%;
  }
  .camera-style {
    display: revert;
  }
  .time-style {
    margin-left: 290px;
  }
  .scrollbar {
    float: left;
    height: 350px;
    width: 719px;
    background: transparent;
    overflow-y: scroll;
    margin-left: -109px;
    margin-top: 5px;
    padding-top: 20px;
    /* margin-bottom: 25px; */
  }
}
.scrollbar {
  margin-left: 30px;
  float: left;
  height: 350px;
  width: 1300px;
  background: white;
  overflow-y: scroll;
  margin-left: -400px;
  margin-top: 5px;
  padding-top: 20px;
  /* margin-bottom: 25px; */
}
.force-overflow {
  min-height: 450px;
}
#wrapper {
  text-align: center;
  width: 500px;
  margin: auto;
}
#style-vertical::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
#style-vertical::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
#style-vertical::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}
input:focus,
button:focus {
  outline: none;
  box-shadow: none;
}
.InputForMessage {
  padding-left: 13px;
}
.emojiStyle {
  z-index: 3;
  overflow: 'auto';
  position: absolute;
  margin-left: 63%;
  margin-top: -32%;
}
.camera-style {
  display: none;
}
.time-style {
  margin-left: 860px;
}
.scrollbar {
  margin-left: 30px;
  float: left;
  height: 350px;
  width: 1300px;
  background: white;
  overflow-y: scroll;
  margin-left: -400px;
  margin-top: 5px;
  padding-top: 20px;
  /* margin-bottom: 25px; */
}
.force-overflow {
  min-height: 450px;
}
#wrapper {
  text-align: center;
  width: 500px;
  margin: auto;
}
#style-vertical::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
#style-vertical::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
#style-vertical::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.style-horizontal {
  width: 1295px;
  overflow-x: auto;
  white-space: nowrap;
  margin-left: -13px;
}
.style-horizontal::-webkit-scrollbar {
  height: 5px;
  background-color: #F5F5F5;
}
.style-horizontal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.style-horizontal::-webkit-scrollbar-thumb {
  /* border-radius: 10px;
  background-color: #00BD86; */
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}
.style-horizontal::-webkit-scrollbar:vertical {
  display: none;
}
@media screen and (max-width: 768px) {
  .emojiStyle {
    z-index: 3;
    overflow: 'auto';
    position: absolute;
    margin-left: 37%;
    margin-top: -57%;
  }
  .camera-style {
    display: revert;
  }
  .time-style {
    margin-left: 290px;
  }
  .scrollbar {
    float: left;
    height: 350px;
    width: 719px;
    background: white;
    overflow-y: scroll;
    margin-left: -109px;
    margin-top: 5px;
    padding-top: 20px;
    /* margin-bottom: 25px; */
  }
  .style-horizontal {
    width: 714px;
  }
}