.subheader-span {
  color: white;
  font-size: 12px;
  margin-right: 5px;
}
.first-chunk {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* .chunk-height {
  /* height: 11.625rem; */
*/ .all-chunk {
  margin-top: 10px;
}
.dashboard-chunk-area {
  background-color: white;
  border-radius: 5px;
  padding: 17px;
  height: 200px;
  cursor: pointer;
}
.bar-area {
  height: 8rem;
}
.guage-area {
  height: 16rem;
}
.guage-area h4 {
  margin: auto;
}
.dashboard-chunk {
  padding-right: 0px;
  padding-left: 10px;
}
.first-box {
  background-color: #0011ff;
}
.first-box-2 {
  background-color: #fbce49;
}
.Second-box {
  background-color: #fa0223;
}
.Second-box-2 {
  background-color: #e65120;
}
.third-box {
  background-color: #57bd5a;
}
.fourth-box {
  background-color: #3893fc;
}

.dashboard-chunk-area-heading {
  margin-left: 0px;
}
.dashboard-chunk-area-notifications {
  margin-top: 5px;
  cursor: pointer;
}
.dashboard-chunk-area-heading h4 {
  font-size: 18px;
  font-weight: 700;
}
.box-number {
  position: absolute;
  bottom: 0px;
  margin-top: 0%;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: flex-end;
}
.box-icon {
  display: flex;
  justify-content: flex-end;
  margin-top: 0%;
  position: absolute;
  bottom: 10px;
  right: 0px;
}

.guage-img-area {
  margin: auto;
  padding-top: 10px;
}
.guage {
  height: 120px;
  width: 200px;
}
.guage-footer {
  margin-right: 0px;
  margin-left: 0px;
}
.guage-footer-text {
  font-size: 18px;
  font-weight: 700;
}
.guage-footer-area-counter {
  margin-top: -10px;
  font-size: 40px;
  color: #13d59f;
  font-weight: 900;
  float: right;
}
.below {
  font-size: 12px;
  color: #7f7f7f;
}
.left {
  float: left;
}
