.header {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}
.header1-style {
  max-width: 27%;
  height: 20%;
  margin-left: -5px;
  margin-top: -15px;
}
.header2-style {
  max-width: 20%;
  height: 8%;
  margin-left: 10px;
  cursor: pointer;
}
.notification-style{
  margin-right: 20px ;
}

@media screen and (max-width: 768px) {
  /* start of medium tablet styles */
  /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
  .KHMC {
    width: 35%;
    height: auto;
    /* background-color: crimson; */
  }
  .thankyou {
    margin-top: -900;
  }
}

@media screen and (max-width: 600px) {
  /* start of medium tablet styles */
  /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
  .KHMC {
    width: 10%;
    height: auto;
    /* background-color: crimson; */
  }

  .header1-style {
    max-width: 26%;
    height: 27%;
    margin-left: -23px;
    margin-top: -32px;
    /* height: auto; */
  }
  .header2-style {
    max-width: 19%;
    height: 7%;
    margin-top: -6px;
    /* height: auto; */
  }
}
@media screen and (max-width: 768px) {
  /* start of medium tablet styles */
  /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
  .Influence_white {
    width: 35%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  /* start of medium tablet styles */
  /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
  .Influence_white {
    width: 10%;
    height: auto;
  }
  .subheader div:first-of-type > h4 {
    color: white;
    margin-left: 20px;
    font-size: 15px;
  }
}

.header > img:first-of-type {
  cursor: pointer;
}

.subheader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background: gray; */
}

.subheader div {
  width: 30%;
  display: flex;
  align-items: center;
}

.subheader div:first-of-type > img {
  height: 54px;
  width: 60px;
}
.subheader div:first-of-type > h4 {
  color: white;
  margin-left: 20px;
}
.subheader div:nth-of-type(2) {
  justify-content: flex-end;
}
.subheader div:nth-of-type(2) > img {
  height: 75px;
  width: 190px;
}

/* color: "white",  fontWeight: "700" */
/* maxWidth: "100%", height: "auto" 
flex: 1.5, display: "flex"
width: "100%", height: "100%", cursor: "pointer"
width: "60%", height: "60%"*/
